<div class="top-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text">
        <h1><strong>TransportMitra</strong> Registration Form</h1>
        <div class="description">
        <p>
        Register Yourself here and be the part of TransportMitra. <br>
        Download it on <a href="#"><strong>Playstore</strong></a>, and enjoy our "saath"
        </p>
        </div>
        <div class="top-big-link">
        <a class="btn btn-link-1" href="#">Know More</a>
        <span class="btn btn-link-1" ng-click="logoutFn()">Log Out</span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 form-box" >
      <div class="form-top">
        <div class="form-top-left">
          <h2 class="heading">Register with  us!</h2>
          <p class="heading">Fill in the form below to get your profile updated</p>
        </div>
        <div class="form-top-right">
          <i class="fa fa-pencil"></i>
        </div>
      </div>
    <div class="form-bottom">
      <form role=form ng-submit="regSubmit()">
        <h3 class="heading" style="font-weight: bold;text-align:center">Registration Details</h3>
        <div class="form-group">
          <label for="regdate">Registration Date</label>
          <input type="date" class="form-control" ng-model="regform.regdetail.date" id="regdate">
        </div>
        <div class="form-group">
          <select   class="form-control" id="mstatus" ng-model="regform.regdetail.center" >
            <option disabled ng-selected="true">Registration Center</option>
            <option >DRIVER DEVLOPMENT LAB(SONIPAT)</option>
            <option >DRIVER DEVLOPMENT LAB(Bangalore)</option>
            <option >DRIVER DEVLOPMENT LAB(Delhi)</option>
            <option >DRIVER DEVLOPMENT LAB(Meerut)</option>
          </select>
        </div>
        <div class="form-group">
          <select   class="form-control" id="mstatus" ng-model="regform.regdetail.sponsor" >
            <option disabled ng-selected="true">Sponsor Name</option>
            <option >Transport Mitra</option>
            <option >Other</option>
          </select>
        </div>
        <div class="form-group">
          <select   class="form-control" id="mstatus" ng-model="regform.regdetail.event" >
            <option disabled ng-selected="true">Event Name</option>
            <option >DDL-SPT</option>
            <option >Other</option>
          </select>
        </div>

        <h3 class="heading" style="font-weight: bold;text-align:center">Driver Personal Details</h3>
        <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" class="form-control" ng-model="regform.personal.fname" id="fname" placeholder="First Name">
        </div>

        <div class="form-group">
          <label for="lname">Last Name</label>
          <input type="text" class="form-control" ng-model="regform.personal.lname" id="lname" placeholder="Last Name">
        </div>
        <div class="form-group">
          <select   class="form-control" id="role" ng-model="regform.personal.role" >
            <option disabled ng-selected="true">Role</option>
            <option >Driver</option>
            <option >Helper</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pnumber">Phone Number</label>
          <input type="number" class="form-control" ng-model="regform.personal.pnumber" id="pnumber" placeholder="Phone Number">
        </div>
        <div class="form-group">
          <label for="apnumber">Alternate Phone Number</label>
          <input type="number" class="form-control" ng-model="regform.personal.apnumber" id="apnumber" placeholder="Phone Number">
        </div>
        <div class="form-group">
          <label for="phtype">Phone Type</label>
          <input type="text" class="form-control" ng-model="regform.personal.phtype" id="phtype" placeholder="Phone Type">
        </div>
        <div class="form-group">
          <label for="dob">Date of Birth</label>
          <input type="date" class="form-control" ng-model="regform.personal.dob" id="dob" placeholder="Date of Birth">
        </div>
        <div class="form-group">
          <select   class="form-control" id="mstatus" ng-model="regform.personal.mstatus" >
            <option disabled ng-selected="true">Select Marital Status</option>
            <option >Single</option>
            <option >Married</option>
          </select>
          </div>
          <div class="form-group">
            <select   class="form-control" id="insurance" ng-model="regform.personal.insurance" >
              <option disabled ng-selected="true">Has Insurance?</option>
              <option >Yes</option>
              <option >No</option>
            </select>
          </div>
          <div class="form-group">
            <select   class="form-control" id="qualification" ng-model="regform.personal.qualification" >
              <option disabled ng-selected="true">Select Qualification</option>
              <option >12th Passed</option>
              <option >10th Passed</option>
            </select>
          </div>

          <div class="form-group">
            <label for="language">Languages Known</label>
            <div class="checkbox">
              <label>
                <input ng-model="regform.personal.lang.hindi" value="Hindi" type="checkbox"> Hindi
              </label>
              <label>
                <input ng-model="regform.personal.lang.english" value="English" type="checkbox"> English
              </label>
              <label>
                <input ng-model="regform.personal.lang.kannada" value="Kannada" type="checkbox"> Kannada
              </label>
            </div>
          </div>

        <div class="form-group">
          <label for="address">Address</label>
          <textarea id="address" class="form-control" ng-model="regform.personal.address" rows="2"></textarea>
        </div>
        
        <div class="form-group">
        <label for="language">State</label>
          <select   class="form-control" id="state" ng-model="regform.personal.state" >
            <option disabled ng-selected="true">Select State</option>
            <option >Karnataka</option>
            <option >Uttar Pradesh</option>
          </select>
        </div>

        <div class="form-group">
          <label for="language">Religion</label>
          <select   class="form-control" id="religion" ng-model="regform.personal.religion" >
            <option disabled ng-selected="true">Religion</option>
            <option value="hindu" >Hindu</option>
            <option value="muslim" >Muslim</option>
            <option value="christian" >Christian</option>
            <option value="Other" >Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="language">Caste Category</label>
          <select class="form-control" id="castecat" ng-model="regform.personal.castecat" >
            <option disabled ng-selected="true">Caste Category</option>
            <option value="hindu" >General</option>
            <option value="muslim" >OBC</option>
            <option value="christian" >SC/ST</option>
            <option value="Other" >Other</option>
          </select>
        </div>
          
        <div class="form-group">
          <label for="aadharnum">Aadhar Number</label>
          <input type="number" class="form-control" ng-model="regform.personal.aadharnum" id="aadharnum" placeholder="Phone Type">
        </div>

        <div class="form-group">
          <label for="familynum">Dependent Family Members</label>
          <input type="number" class="form-control" ng-model="regform.personal.familynum" id="familynum" placeholder="Dependent Family Members">
        </div>

        <div class="form-group">
          <label for="image">Upload Photo</label>
          <input type="file" id="image">
        </div>
        
        <h3 class="heading" style="font-weight: bold;text-align:center">Driving Details</h3>

        <div class="form-group">
          <label for="licensenum">License Number</label>
          <input type="number" class="form-control" ng-model="regform.driving.licensenum" id="licensenum" placeholder="License Number">
        </div>

        <div class="form-group">
          <label for="licenseexp">Driving License Expiry Date</label>
          <input type="date" class="form-control" ng-model="regform.driving.licenseexp" id="licenseexp" placeholder="Driving License Expiry Date">
        </div>
          
        <div class="form-group">
          <label for="driverexp">Years of Driving Experience</label>
          <input type="number" class="form-control" ng-model="regform.driving.driverexp" id="driverexp" placeholder="Years of Driving Experience">
        </div>

        <div class="form-group">
          <label for="drivervehtype">Vehicle Type Currently Driving</label>
          <select class="form-control" id="drivervehtype" ng-model="regform.driving.drivervehtype">
            <option disabled ng-selected="true">Vehicle Type Currently Driving</option>
            <option >HMV</option>
            <option >Others</option>
          </select>
        </div>

        <div class="form-group">
          <label for="vehbrand">Vehicle Brand Currently Driving</label>
          <select class="form-control" id="vehbrand" ng-model="regform.driving.vehbrand">
            <option disabled ng-selected="true">Vehicle Brand Currently Driving</option>
            <option >TATA</option>
            <option >Ashok Leyland</option>
            <option >Others</option>
          </select>
        </div>

        <div class="form-group">
          <label for="employment">Employment Type</label>
          <select class="form-control" id="employment" ng-model="regform.driving.employment">
            <option disabled ng-selected="true">Employment Type</option>
            <option >Employed</option>
            <option >Unemployed</option>
          </select>
        </div>

        <div class="form-group">
          <label for="language">Driving Region </label>
          <div class="checkbox">
            <label>
              <input ng-model="regform.driving.region.northIndia" value="northIndia" type="checkbox">North India 
            </label>
            <label>
              <input ng-model="regform.driving.region.southIndia" value="SouthIndia" type="checkbox"> South India
            </label>
            <label>
              <input ng-model="regform.driving.region.others"  value="Kannada" type="checkbox"> Others
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="tripnum">Average Trips / Month</label>
          <input type="number" class="form-control" ng-model="regform.driving.tripnum" id="tripnum" placeholder="Average Trips / Month">
        </div>

        <div class="form-group">
          <label for="averagekm">Average KMS / Month</label>
          <input type="number" class="form-control" ng-model="regform.driving.averagekm" id="averagekm" placeholder="Average Trips / Month">
        </div>

        <div class="form-group">
          <label for="workingday">Working days in a Week</label>
          <input type="number" class="form-control" ng-model="regform.driving.workingday" id="workingday" placeholder="Working days in a Week">
        </div>

        <div class="form-group">
          <label for="restplaces">Resting Places</label>
          <div class="checkbox">
            <label>
              <input ng-model="regform.driving.resting.insideVehicle" value="Inside Vehicle" type="checkbox">Inside Vehicle
            </label>
            <label>
              <input ng-model="regform.driving.resting.dhaba" value="dhaba" type="checkbox"> Dhaba
            </label>
            <label>
              <input ng-model="regform.driving.resting.others" value="others" type="checkbox"> Others
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="cargotype">Phone Type</label>
          <input type="text" class="form-control" ng-model="regform.driving.cargotype" id="phtype" placeholder="Cargo Type">
        </div>

        <div class="form-group">
          <label for="consignorfrom">From Consignor</label>
          <input type="text" class="form-control" ng-model="regform.driving.consignorfrom" id="consignorfrom" placeholder="From Consignor">
        </div>

        <div class="form-group">
          <label for="consignorto">To Consignor</label>
          <input type="text" class="form-control" ng-model="regform.driving.consignorto" id="consignorto" placeholder="To Consignor">
        </div>

        <div class="form-group">
          <label for="fromcity">From City</label>
          <input type="text" class="form-control" ng-model="regform.driving.fromcity" id="fromcity" placeholder="From City">
        </div>

        <div class="form-group">
          <label for="tocity">To City</label>
          <input type="text" class="form-control" ng-model="regform.driving.tocity" id="tocity" placeholder="To City">
        </div>
          
      <h3 class="heading">Employment Opportunity</h3>

      <div class="form-group">
        <label for="fromcity">Interested in Employment</label>
        <select   class="form-control" id="interested" ng-model="regform.expect.interested" >
          <option disabled ng-selected="true">Interested</option>
          <option >Yes</option>
          <option >No</option>
        </select>
      </div>

        <div class="form-group">
          <label for="restplaces">Location Intersted</label>
          <div class="checkbox">
            <label>
              <input ng-model="regform.expect.location.north" value="north" type="checkbox">North
            </label>
            <label>
              <input ng-model="regform.expect.location.south" value="south" type="checkbox"> South
            </label>
            <label>
              <input ng-model="regform.expect.location.others" value="others" type="checkbox"> Others
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="expsalary">Expected Salary (Per Month)</label>
          <input type="number" class="form-control" ng-model="regform.expect.expsalary" id="expsalary" placeholder="Expected Salary (Per Month)">
        </div> 

        <div class="form-group">
          <label for="jointime">Joining Time (Weeks)</label>
          <input type="number" class="form-control" ng-model="regform.expect.jointime" id="jointime" placeholder="Joining Time (Weeks)">
        </div>                              

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  </div>
</div>


